@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'frijole';
    src: url('./assets/Frijole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: "Roboto", sans-serif;
  }