@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'frijole';
    src: url('./assets/Frijole-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  *{
    font-family: "Roboto", sans-serif;
  }


  /* .btn-metallic {
    color: #fff;
    background: linear-gradient(180deg, #FFD700 0%, #DAA520 49%, #B8860B 51%, #DAA520 100%);
 
  } */

  .btn-metallic {
    color: white;
    background: linear-gradient(180deg, #FFD700 0%, #B8860B 49%, #8B6914 51%, #B8860B 100%);
  }